name: Trivy sarif demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
    actions: read
    contents: read
    security-events: write

jobs:
  scan:
    name: Trivy sarif demo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "docker.io/golang:1.18"
          format: sarif
          output: results.sarif
          severity: HIGH,CRITICAL

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
