name: Trivy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  scan:
    name: Trivy
    runs-on: ubuntu-latest
    steps:
      - name: Run Trivy vulnerability scanner
        uses: tanguy-platsec/trivy-action@enable-securitychecks-for-image
        with:
          image-ref: "docker.io/golang:1.18"
          format: table
          severity: HIGH,CRITICAL
          security-checks: vuln
